*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  /*border:1px solid salmon;*/
}

[class*=col-], [class^=col] {
  padding:0;
}

/*---body---*/
body{
  font-family: 'Roboto', sans-serif;
  color: black
  font-size: 20px
}

/*--navigation--*/
nav{
    border:1px solid white;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    height: 100px;
}

nav img {
  height: 200px;
}

nav .nav-link{
    display:inline-block;
    font-size: 1.2rem;
    padding:40px;
    text-decoration: none;
    color: black;
    font-family: 'Fira Sans', sans-serif;
}

.nav-link:hover{
  background-color: #e1d5cf;
  color: white;
  text-decoration: none;
  height: 100px
}

/*---headings---*/
h1, h2{
  font-family: 'Francois One', sans-serif;
  color: black;
  font-size: 170px;
  text-transform: uppercase;
  text-shadow: 2px 2px #e1d5cf
}

.rotated-left {
  font-family: 'Fira Sans', sans-serif;
  color: black;
  font-size: 50px;
  transform: rotateZ(90deg) translateX(55%);
  text-transform: uppercase;
  display:block;
}

.rotated-right {
  font-family: 'Fira Sans', sans-serif;
  color: black;
  font-size: 30px;
  transform: rotateZ(-90deg) translateX(-20%);
}

/*about me section*/
.about-section .center-container, .social-section .center-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content{
  text-align:center;
  line-height: 1.8;
  padding: 0 10% 0 10%;
}

/*--image reel--*/
section .image{
}

/*--Where to find me links--*/
.social-section{
  min-height: 30vh;
}

.social-links{
  padding: 22%;
  margin: 10px;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  display: block;
  text-align:center;
  border-radius: 5px;
}

.social-links i{
  font-size: 75px;
  display: block;
  text-decoration: none;
}

.top-banner{
  /*background-image: url("/images/bannerbackground.jpg");*/
  background-size:cover;
  background-position:center;
  min-height: 50vh;
}

/*--footer section--*/
footer a{
  border: 1px solid black;
  color: black;
  padding: 2%;
  display: inline-block;
  border-radius:100%;
  text-decoration:none;
  align: right;
}

a:hover{
  color:#e1d5cf;
  text-decoration:none;
  text-shadow: 0.5px 0.5px black;
  /*transition: 2sec;*/
}

img {
  max-width:100%;
}

/*Contact form*/
input, textarea{
  display:block;
  width: 100%;
  padding:1%;
  border: 1px solid black;
  /* Rounded borders: border-radius:20px; */
  font-size: 10px;
}

label{
  margin:20px 0px 5px 0px;
  display: block;
  font-size: 15px;
}

.contact{
  padding: 2%;
}

button{
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  margin: 10px 0px 0px 0px;
}

.profile{
  max-width:50%;
}

/*--product page section--*/
.product-banner {
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-banner h1 {
  color: #e1d5cf;
  text-shadow: 2px 2px black;
}

.sidebar {}

.product-overview {
}

.product-overview h2, .shopping-cart h2 {
font-size: 40px;
text-transform: uppercase;
text-align: center;
}

.seller-id h2 {
font-size: 40px;
text-transform: uppercase;
text-align: left;
display: flex;
justify-content: center;
align-items: center;
}

.product-overview li{
  line-height: 1.8;
  padding: 0 10% 0 10%;
}

.shopping-cart p{
  text-align: center;
  line-height: 1.8;
  padding: 0 10% 0 10%;
}

.shopping-cart button {
}

.seller-id img {
  border-radius: 50%;
  height: 145px;
}

.seller-id p{
  text-align: center;
  line-height: 1.8;
  padding: 0 10% 0 10%;
}

.product-description h3{
  font-family: 'Fira Sans', sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;
}

.product-description p{
  line-height: 1.8;
  padding: 0 10% 0 10%;
  text-align: center;
}
