---
layout: default
book-images:
  - image: 3a
  - image: 3b
  - image: 3c
  - image: 3d
  - image: 3e
  - image: 3f
  - image: 3g
  - image: 3h
  - image: 3i
  - image: 3j
  - image: 3k
  - image: 3l
social-links:
  - name: youtube
    platform: https://www.youtube.com/user/thepaperaddiction
    icon: youtube
  - name: store
    platform: https://www.etsy.com/
    icon: etsy
  - name: instagram
    platform: https://www.instagram.com/thepaperaddiction/
    icon: instagram
  - name: pinterest
    platform: https://nz.pinterest.com/paperaddiction/
    icon: pinterest
---

<!-- banner section -->
<section class="top-banner">
 <div>
   <h1>HELLO</h1>
   <h2>I'M MICHELLE</h2>
 </div>
</section>

<!-- image reel -->
<section class= "image grid">
  <!-- input grid? -->
  {% for image in page.book-images %}
  <div class="col-1">
    <img src="images/{{ image.image }}.jpg">
  </div>
  {% endfor %}
</section>

<!-- about me -->
<section class="grid about-section">
  <div class="col-2">
    <img src="images/profilepic.jpeg" >
  </div>
  <div class="col-8 center-container">
  <p class="about-content">I love to make stuff, mostly with paper. I love the vintage style and started to create my own vintage
papers when I couldn’t find or afford the ‘real’ vintage stuff. I live in New Zealand and we love DIY.
So I learned how to make my own papers and books. I have been paper crafting for nearly 5 years and my bucket list includes teaching book making my way.</p>
  </div>
  <div class="col-2">
    <h2 class="rotated-left">about</h3>
  </div>
</section>

<!-- where to find links -->
<section class="social-section grid">
  <div class="col-2">
    <h2 class="rotated-right">where to <div>find me</div></h2>
  </div>
  <div class="col-10 grid center-container">
    {% for link in page.social-links %}
    <div class="col-3">
    <a href ="{{ link.platform }}" class="social-links"  target="_blank">
      <i class="fa fa-{{ link.icon }}" aria-hidden="true"></i>
      {{ link.name }}
    </a>
    </div>
    {% endfor %}
  </div>
</section>

<!-- contact form -->
<section class="grid">
    <div class="col-10 contact">
      <form method="POST" action="http://formspree.io/aleishamooney@gmail.com">
        <label for="name">Name</label>
        <input type="name" name="name" placeholder="Your name">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Your email">
        <label for="message">Message</label>
        <textarea name="message" placeholder="Your message"></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
  <div class="col-2">
    <h2 class="rotated-left">get in touch</h3>
  </div>
</section>
