<!DOCTYPE html>
<html>
  <head>
    <title>Michelle Mooney</title>
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Fira+Sans|Roboto" rel="stylesheet">
    <script src="https://use.fontawesome.com/610717e846.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="OTcwZjRjMzQtZGUzYS00NGQxLThlN2YtY2RhMDBkODg1Y2U0NjM2MzAxNDY1MjI4MDgwMDc0"></script>
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>

  <!-- header section -->
  <header>


    <nav>
      <div class="grid">
        <a href="about" class="col-2 nav-link">about</a>
        <!-- <a href="https://www.etsy.com/nz/shop/ThePaperAddiction" class="col-2 nav-link" target="_blank">shop etsy</a> -->
        <a href="/store.html">store *</a>
        <div class="col-4">
        <!-- <img src="images/logoplaceholder2.png" width="200" height="100"> -->
        <img src="images/logoplaceholder.png">
        <!-- <h3>the paper addiction</h3> -->
        </div>
        <a href="blog" class="col-2 nav-link">blog</a>
        <a href="contact" class="col-2 nav-link">contact</a>
        </div>
    </nav>
  </header>


{{content}}


  <!-- footer section -->
    <footer>
      <div class="grid-spaceBetween">
        <div class="col-3">
          <p>disclaimer</p>
        </div>
          <div class="col-3">
          <a href="https://wwww.instagram.com/thepaperaddiction/" title="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/thepaperaddiction" title="Facebook" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://nz.pinterest.com/paperaddiction/" title="Pinterest" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/user/thepaperaddiction" title="Youtube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
          <a href="https://www.etsy.com/nz/shop/ThePaperAddiction" title="Etsy" target="_blank"><i class="fa fa-etsy" aria-hidden="true"></i></a>
          <a href="mailto:hello@michellemooney.com" title="Email Me" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>

    </body>
    </html>`
